.buttonTag {
  background-color: #78bcc5ff;
  color: white;
}

#modalLink {
  background-color: #78bcc5ff;
  width: 100%;
  border-radius: 25px;
  color: white;
  padding: 1px 0 1px 0;
}

#modalLink:hover {
  background-color: #00bfa5;
}

#modalLink:active {
  background-color: #00bfa5;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

#modalLink:focus {
  background-color: #00bfa5;
}

.rating, .divAuthor, .divLocation {
  padding: 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: red;
  cursor: pointer;
}
.rating > i {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > i:hover:before,
.rating > i:hover ~ i:before {
   content: "\f005";
   font-weight: 900;
   /* position: absolute; */
}
