Link {
color: #e57373;
font-family: 'Montserrat', sans-serif;
font-size: 46px;
font-weight: 200;
text-align: center;
margin-bottom: 0px !important;
  }

#logoLink {
  color: #e57373;
font-family: 'Montserrat', sans-serif;
font-size: 46px;
font-weight: 200;
text-align: center;
margin-bottom: 0px !important;
    }

#homeLink, #profileLink, #mapLink {
  color: #e57373;
font-family: 'Montserrat', sans-serif;
font-size: 26px;
font-weight: 200;
text-align: center;
margin-bottom: 0px !important;
    }
  
.brand-logo {
  padding: 20px;
  margin-left: 20px;
}
