h1 {
    color: white;
    padding: 65px;
}

span {
  font-weight: bold;
}

.buttonHome {
  background-color: #db5b5c;
  border: none;
  color: white;
  padding: 20px;
  height: 7rem; 
  width: 7rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  position: relative;
}

.buttonHome:hover {
    background-color: #c62828;
}

.buttonHome:active {
  background-color: #c62828;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonHome:focus {
    background-color: #db5b5c;
  }

.icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  display: block;
}

a:visited {
    color: #db5b5c;
  }

.tabs {
    height: 15rem;
    padding: 25px;
    width: 100%;
}

.linkName {
font-size: 50px;
color: #e57373;
font-family: 'Montserrat', sans-serif;
font-weight: 200;
text-align: center;
margin-bottom: 0px !important;
}