body {
    background-image: url("./assets/bike.jpg");
   }

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0px !important;
    /* text-transform: uppercase; */
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    margin-top: 1px;
    /* text-transform: uppercase; */
}

.signUpLink{
    font-weight: 600;
    color: #d12e27ff;
}

.signInPageLink{
    font-weight: 600;
    color: #d12e27ff;
}

.signIn{
    background-color: #ffffff;
    /* align-content: center; */
    /* height: 10em;
    position: relative; */
    border-radius: 25px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 100px;
    width: 60%;
}

.signInBtn{
    background-color: #78bcc5ff;
    width: 100%;


}
