Link {
color: #e57373;
  }

#logoLink, #homeLink, #profileLink, #mapLink {
  color: #e57373;
    }
  
.brand-logo {
  padding: 10px;
  margin-left: 20px;
}

#icon1 {
  color: #e57373;
  padding-bottom: 20px;
  padding-left: 20px;
}