#modalLink, .buttonTag {
  background-color: #78bcc5ff;
  color: white;
  /* color: grey; */
}

.ratingHeading {
  padding: 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  color: red;
  cursor: pointer;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}