img {
    max-width: 70%;
    height: 150px;
    border-style: solid; 
    border-color: #ff9e80;
    border-width: 5px;
    align-content: center;
    /* margin: 10px; */
    /* padding: 10px; */
  }

  /* .cardLink {
    color: #000000;
  } */

  h5 {
      color: #757575;
  }