html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    position: absolute;
    top: 64px;
    left: 0px;
    bottom: 0px;
    width: 63%;
}

#searchPanel,
#searchPanelPark {
    border-radius: 15px;
}

#right-panel,
#rightPanelPark,
#rightPanelRate {
    position: absolute;
    top: 64px;
    left: 63%;
    bottom: 0px;
    width: 37%;
    padding: 8px;
    border-radius: 15px;
    /* background-image: url("../homepage.png"); */
    background-image: url("../right-panel.png");
    /* background-image: url("../profile.png"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 100% 100%;
    /* background-position: 90% 100%; */
    /* background-size: auto; */
    background-size: 40%;
    /* background-size: 30%; */
}

.routeForm {
    opacity: 1;
    background-color: white;
}

.inputs {
    border-radius: 5px;
}

label {
    font-size: 14px!important;
    height: 100%;
    padding: 0px;
}

.select-field {
    margin: 5px;
    width: 70%;
    height: 30px;
    /* max-height: 90%; */
    /* min-height: 40%; */
    margin-left: 18%;
    opacity: 1;
    background-color: white;
}


/* 
select {
    max-height: 40px;
    min-height: 90px;
} */


/* 
.browser-default {
    max-height: 40%;
    min-height: 90%;
} */

.slct-label {
    width: 40%;
    /* max-width: 90%;
    min-width: 40%; */
    /* max-height: 40%;
    min-height: 90%; */
    /* height: 100%; */
    padding: 0px;
    background-color: #78bcc5ff;
    color: white;
    line-height: 30px;
    border-radius: 8px 0 0 8px;
}

.browser-default {
    width: 60%;
    height: 30px;
    border-width: 1.5px;
    border-left-width: 0;
    border-radius: 0 8px 8px 0;
}

.findButtonContainer {
    width: 100%;
}

.findButton {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    background-color: #db5b5c;
    border: none;
    color: white;
    height: 3.5rem;
    width: 3.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    clear: right;
}

.findButton:hover {
    background-color: #c62828;
}

.findButton:active {
    background-color: #c62828;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.findButton:focus {
    background-color: #db5b5c;
}

.findButtonTitle {
    text-transform: uppercase;
    font-size: 15px;
    color: #e57373;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    margin-bottom: 0px !important;
    padding: 5px;
}

table,
tr {
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
}

tr,
td,
th {
    padding: 0 5px;
    height: 23px;
    border-radius: 0px;
}

tbody:last-child tr:last-child td {
    border-radius: 0 0 5px 5px;
}

thead:first-child tr:first-child th:first-child {
    border-radius: 5px 5px 0 0;
}

#locationColumn,
#locationColumnRate {
    border-radius: 5px 0 0 0;
}

#bikesColumn,
#bikesColumnRate {
    border-radius: 0 5px 0 0;
}

thead {
    background-color: #78bcc5ff;
}

button {
    margin: 10px;
    background-color: #78bcc5ff;
}

.mapButton {
    background-color: #78bcc5ff;
    max-width: 90%;
    min-width: 20%;
    border-radius: 25px;
}

.mapButton:hover {
    background-color: #00bfa5;
}

.mapButton:active {
    background-color: #00bfa5;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.mapButton:focus {
    background-color: #78bcc5ff;
}

.resultsBtn {
    background-color: #78bcc5ff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    line-height: 100%;
}


/* START FIND BIKE PAGE STYLING */

.sideBarButton,
.sideBarButtonClose {
    background-color: #78bcc5ff;
    width: 5rem;
    border-radius: 25px;
    align-content: center;
    /* line-height: 20px; */
}

.sideBarButton:hover,
.sideBarButtonClose:hover {
    background-color: #00bfa5;
}

.sideBarButton:active,
.sideBarButtonClose:active {
    background-color: #00bfa5;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.sideBarButton:focus,
.sideBarButtonClose:focus {
    background-color: #78bcc5ff;
}


/* END OF FIND BIKE PAGE STYLING */