html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    position: absolute;
    top: 64px;
    left: 0px;
    bottom: 0px;
    width: 63%;
}

#right-panel {
    position: absolute;
    top: 64px;
    left: 63%;
    bottom: 0px;
    width: 37%;
    padding: 8px;
}

label {
    font-size: 14px!important;
}

table {
    margin-top: 20px;
}

td,
th {
    /* border: 2px solid teal; */
    /* border: 2px solid #78bcc5ff; */
    border: 2px solid black;
}

button, thead {
    background-color: #78bcc5ff;
}

button {
    margin: 10px;
    background-color: #78bcc5ff;

}

.mapButton {
    background-color: #78bcc5ff;
}