    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    
    #map-canvas {
        position: absolute;
        top: 64px;
        left: 0px;
        bottom: 0px;
        width: 63%;
    }
    
    #right-panel {
        position: absolute;
        top: 64px;
        left: 63%;
        bottom: 0px;
        width: 37%;
        padding: 8px;
    }
    
    label {
        font-size: 14px!important;
        height: 100%;
        padding: 0px;
    }
    
    .select-field {
        margin: 5px;
        width: 70%;
        height: 30px;
        margin-left: 18%;
    }
    
    .slct-label {
        width: 30%;
        padding: 0px;
        background-color: #26a69a;
        color: black;
        line-height: 30px;
        border-radius: 8px 0 0 8px;
    }
    
    .browser-default {
        width: 60%;
        height: 30px;
        border-width: 1.5px;
        border-left-width: 0;
        border-radius: 0 8px 8px 0;
    }
    
    table {
        margin-top: 20px;
    }
    
    td,
    th {
        border: 1px solid black;
        padding: 0 5px;
        height: 23px;
    }
    
    button,
    thead {
        background-color: #78bcc5ff;
    }
    
    button {
        margin: 10px;
        background-color: #78bcc5ff;
    }
    
    .mapButton {
        background-color: #78bcc5ff;
        max-width: 90%;
        min-width: 20%;
        border-radius: 25px;
    }
    
    .mapButton:hover {
        background-color: #00bfa5;
    }
    
    .mapButton:active {
        background-color: #00bfa5;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
    
    .mapButton:focus {
        background-color: #78bcc5ff;
    }